body{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 1675px;
    border: 1px solid  #FFF;
    margin-left: 8em;
    margin-right: 8em;
    background-color: #FFE;
}
#bloc_head{
    height: 45px;
    margin-left: 8em;
}
.blog_section_trois{
    display: flex;
    flex-wrap: wrap;
    
}

#entete{
    list-style-type: none;
    float: right;
    margin-top: -50px;
    margin-right: 85px;
}
.le_bloc{
    display: inline-block;
    
}

.le_bloc > a{
    text-decoration: none;
    margin-right: 65px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.img_nav{
    height: 25px;
    
}

.bloc_entete{
    height: 735px;
    background-image: url("../img/image_sac/acceuil.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bloc_ecriture{
    height: 445px;
    width: 55%;
    transform: translate(25em, 10em);
    text-align: center;
}


#lien_commande{
    height: 55px;
    width: 30%;
    transform: translate(20em, 45px);

}

#lien_commande > a{
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    background-color: #F25E0B;
    font-size: 25px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

/* LE CORPS DU PROJET*/
.section_deux_div{
    height: 535px;
    width: 20%;
    margin-left: 35px;
    margin-bottom: 5em;
    display: inline-block;
    overflow: hidden;
    box-shadow: 5px 10px 8px #888888;
}

.section_deux_img{
    height: 245px;
    width: 99.5%;
}
#section_deux_img1{
    background-image: url("../img/image_chemise/images_un.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#section_deux_img2{
    background-image: url("../img/image_chemise/images_six.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#section_deux_img3{
    background-image: url("../img/image_chemise/images_quatre.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#section_deux_img4{
    background-image: url("../img/ceintures/ceinture_01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.section_deux_h5{
    height: 55px;
    width: 99.5%;
    margin-top: 15px;
    text-align: center;
}

.section_deux_etoile{
    height: 55px;
    width: 60%;
    margin-top: 15px;
    margin-left: 75px;
}
.section_deux_etoile > p > img{
    height: 25px;
    width: 10%;
    display: flex;
    float: left;
    margin-left: 25px;
}
.section_deux_prix{
    height: 55px;
    width: 99.5%;
    margin-top: 15px;
}

.section_deux_prix p{
    text-align: center;
    font-size: 24px;
    letter-spacing: 6px;
    margin-left: 25px;
}

.section_deux_para{
    height: 55px;
    width: 99.5%;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;

}

.section_deux_para > p > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
}

/* DEUXIEME SECTION */
.section_trois_div{
    height: 535px;
    width: 20%;
    margin-left: 35px;
    margin-bottom: 5em;
    display: inline-block;
    overflow: hidden;
    box-shadow: 5px 10px 8px #888888;
}

.section_trois_img{
    height: 245px;
    width: 99.5%;
}
#section_trois_img_un{
    background-image: url("../img/chaussure/images (10).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#section_trois_img_deux{
    background-image: url("../img/image_chemise/alex-haigh-fEt6Wd4t4j0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#section_trois_img_trois{
    background-image: url("../img/chaussure_homme/images (5).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#section_trois_img_quatre{
    background-image: url("../img/chaussure_homme/téléchargement (1).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.section_trois_h5{
    height: 55px;
    width: 99.5%;
    margin-top: 15px;
    text-align: center;
}

.section_trois_etoile{
    height: 55px;
    width: 60%;
    margin-top: 15px;
    margin-left: 75px;
}
.section_trois_etoile > p > img{
    height: 25px;
    width: 10%;
    display: flex;
    float: left;
    margin-left: 25px;
}
.section_trois_prix{
    height: 55px;
    width: 99.5%;
    margin-top: 15px;
}

.section_trois_prix p{
    text-align: center;
    font-size: 24px;
    letter-spacing: 6px;
    margin-left: 25px;
}

.section_trois_para{
    height: 55px;
    width: 99.5%;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;

}

.section_trois_para > p > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
}



/* LE FOOTER*/

.bloc_footer_cat_homme{
    border: 1px solid black;
    height: 380px;  
    background-color: #000;
}


.sous_bloc_footer_homme{
    height: 343px;
    width: 22%;
    display: inline-block;
    margin-left: 45px;
    overflow: hidden;
    color: #FFF;
}

.sous_bloc_footer_homme p{
    text-align: center;
    font-size: 20px;
}

.sous_bloc_footer_homme > p > a{
   text-decoration: none;
   font-size: 20px;
   color: #FFF;

}

.sous_bloc_footer_homme > p > input{
   height: 35px;
   width: 80%;
   border-radius: 15px;
   border: 1px solid black;
   margin-top: 55px;

}
.bloc_fin_homme{
    text-align: left;
    font-size: 17px;
}

.bloc_fin_homme > a{
    text-decoration: none;
    color: #FFF;
}

.footer_img_homme > img{
    height: 20px;
    margin-left: 25px;
    margin-top: 3em;

}

.footer_img_homme{
    margin-left: 125px;
}
