body{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 1645px;
    border: 1px solid  #FFF;
    margin-left: 8em;
    margin-right: 8em;
    background-color: #FFE;
}
#bloc_head{
    height: 45px;
    margin-left: 8em;
}
#benie_shop{
      
}

#entete{
    list-style-type: none;
    float: right;
    margin-top: -50px;
    margin-right: 85px;
}
.le_bloc{
    display: inline-block;
    
}

.le_bloc > a{
    text-decoration: none;
    margin-right: 65px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


/* Le corps    */

.bloc_chaussure{
    height: 1550px;
}

.sous_bloc_chaussure{
    height: 95px;
    width: 65%;
    margin-top: 75px;
    margin-left: 35em;
    text-align: center;
}

.conteneur_bloc_chaussure{
    height: 545px;
    margin-left: 6em;
    overflow: hidden;
}

.sous_conteneur_chaussure{
    height: 540px;
    width: 40%;
    display: inline-block;
    margin-left: 35px;
    overflow: hidden;
}

.sous_conteneur_img{
    height: 400px;
    width: 70%;
    transform: translate(5em, 65px);
    background-image: url("../img/ceintures/ceinture_01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#sous_conteneur_chaussure_div2{
    width: 55%;
}
#sous_conteneur_chaussure_div2 p, h4{
    margin-left: 75px;
    font-size: 25px;

}

table, td{
    border: 1px solid black;
    padding: 10px;
    margin-left: 95px;
    border-collapse: collapse;
    margin-top: 85px;
}

.bloc_chaussure_deux{
    height: 500px;
    margin-top: -45em;
    margin-left: 35px;
}

.bloc_chaussure_deux p{
    font-size: 25px;
}
button{
    height: 35px;
    width: 35px;
    margin-right: 95px;
    background-color: orange;
    color: #FFF;
}

/* LE FOOTER*/

.bloc_footer{
    border: 1px solid black;
    height: 350px;  
    background-color: #000;
}


.sous_bloc_footer{
    height: 343px;
    width: 22%;
    display: inline-block;
    margin-left: 45px;
    overflow: hidden;
    color: #FFF;
}

.sous_bloc_footer p{
    text-align: center;
    font-size: 20px;
}

.sous_bloc_footer > p > a{
   text-decoration: none;
   font-size: 20px;
   color: #FFF;

}

.sous_bloc_footer > p > input{
   height: 35px;
   width: 80%;
   border-radius: 15px;
   border: 1px solid black;
   margin-top: 55px;

}
.bloc_fin{
    text-align: left;
    font-size: 17px;
}

.bloc_fin > a{
    text-decoration: none;
    color: #FFF;
}

.footer_img > img{
    height: 20px;
    margin-left: 25px;
    margin-top: 3em;

}

.footer_img{
    margin-left: 125px;
}


























