body{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 1945px;
    border: 1px solid red;
    margin-left: 8em;
    margin-right: 8em;
}
#bloc_head{
    height: 45px;
    margin-left: 8em;
}
#benie_shop{
      
}

#entete{
    list-style-type: none;
    float: right;
    margin-top: -50px;
    margin-right: 85px;
}
.le_bloc{
    display: inline-block;
    
}

.le_bloc > a{
    text-decoration: none;
    margin-right: 65px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.img_nav{
    height: 25px;
    
}

.bloc_entete{
    border: 1px solid black;
    height: 735px;
    background-image: url("../img/image_sac/acceuil.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bloc_ecriture{
    height: 445px;
    width: 55%;
    transform: translate(25em, 10em);
    text-align: center;
}


#lien_commande{
    height: 55px;
    width: 30%;
    transform: translate(20em, 45px);

}

#lien_commande > a{
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    background-color: #F25E0B;
    font-size: 25px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
}





































