body{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 1945px;
    border: 1px solid red;
    margin-left: 8em;
    margin-right: 8em;
    background-color: #FFE;
}
#bloc_head{
    height: 45px;
    margin-left: 8em;
}
#benie_shop{
      
}

#entete{
    list-style-type: none;
    float: right;
    margin-top: -50px;
    margin-right: 85px;
}
.le_bloc{
    display: inline-block;
    
}

.le_bloc > a{
    text-decoration: none;
    margin-right: 65px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.img_nav{
    height: 25px;
    
}

.bloc_entete{
    height: 735px;
    background-image: url("../img/image_sac/acceuil.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bloc_ecriture{
    height: 445px;
    width: 55%;
    transform: translate(25em, 10em);
    text-align: center;
}


#lien_commande{
    height: 55px;
    width: 30%;
    transform: translate(20em, 45px);

}

#lien_commande > a{
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    background-color: #F25E0B;
    font-size: 25px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

#bloc_un{
    height: 435px;
    border: 1px solid red;
    margin-top: 45px;
}

.sous_bloc_un{
    height: 330px;
    width: 18%;
    display: inline-block;
    transform: translate(2em, 6px);
    margin-left: 12em;
    border-bottom: 12px solid orange;
    box-shadow: 3px 6px 4px black;
}

.bloc_un_petit{
    height: 130px;
    width: 50%;
    display: inline-block;
    margin-left: 75px;
    margin-top: 35px;
    overflow: hidden;
}

.bloc_un_petit img{
    height: 130px;
    width: 80%;
    margin-left: 25px;
}


.sous_bloc_text_gras{
    height: 65px;
    width: 100%;
    border: 1px solid #111;
    display: inline-block;
    overflow: hidden;
}


.sous_bloc_text_fin{
    height: 65px;
    width: 100%;
    border: 1px solid #111;
    display: inline-block;
    overflow: hidden;
}




























